.places {
  margin: 47px auto 67px;
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  max-width: 880px;
}

@media screen and (max-width: 940px) {
  .places {
    padding: 0 52px;
  }
}

@media screen and (max-width: 740px) {
  .places {
    padding: 0 38px;
  }
}

@media screen and (max-width: 540px) {
  .places {
    padding: 0 19px;
  }
}