.profile__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 720px;
}

@media screen and (max-width: 740px) {
  .profile__navigation {
    flex-direction: column;
    width: 100%;
  }
}