.popup__body {
    background-color: white;
    color: black;
    max-width: 430px;
    max-height: 330px;
    display: flex;
    flex-direction: column;
    padding: 34px 36px 37px;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 740px) {
  .popup__body {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }
}